html body {
	margin:0;
	overflow:hidden
}
span.control {
	position:fixed
}
span.movable {
	cursor:move;
	text-align:center;
}
span.movable:hover {
	background-color:silver;
}
span.movable .unmovable {
	cursor:default
}
