html,body {
	overflow:hidden;
	width: 100%;
	height: 100%;
}
html,body,canvas {
	margin:0;
}
.invisible {
	display:none
}
span.control {
	position:fixed
}
span.control span.speed,span.control span.time {
	font-family:monospace
}
span.movable {
	cursor:move;
	text-align:center;
}
span.movable .unmovable {
	cursor:default
}
span.ruler {
	border-top:1px solid;
}
span.ruler div.space {
	display:inline-block;
	border-left:1px solid;
	position:relative;
	top:-0.5em;
	height:1em;
}
span.ruler span.number {
	position:relative;
	top:1em;
	left:-50%;
}
div.loading {
	height:100%;
	text-align:center;
	vertical-align:middle;
}
div.loading p.error {
	color:red
}
